.modalContainer {
  width: 80%;
  margin: auto;
  height: 23%;
  position: relative;
  overflow: hidden;
}
.modalContainer > img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.modalContainer:hover > img {
  filter: brightness(70%);
}
.modalContainer:hover .exitButton {
  visibility: visible;
  color: #eeeeee;
}
.exitButton {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  z-index: 2;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  visibility: hidden;
}
.exitButton > i {
  font-size: 2rem;
}

/*For Popup*/

.popupContainer {
  height: 16%;
  width: 40%;
  background-color: #fff;
  margin: auto;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
}
.banner {
  width: 56%;
  height: 30%;
  display: inline-block;
}
.atIcon {
  width: 11%;
  height: 15%;
  margin: 2% 2%;
  display: inline-block;
}
.logobanner {
  width: 29%;
  height: 30%;
  display: inline-block;
}
.details {
  display: block;
  width: 100%;
  height: 70%;
  padding: 3rem 2rem;
  font-family: "Lato", sans-serif;
}
.bold {
  font-weight: 500;
  font-size: 1.7rem;
}
.details p {
  margin: 2rem 0;
  font-family: inherit;
  font-size: 1.5rem;
}

.details i {
    font-size: 2rem;
    color: dodgerblue;
    margin-right: 1rem;
}
.applyLink {
    text-decoration: none;
    display: block;
    margin: 5rem auto;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    font-size: 1.4rem;
    width: 25%;
    text-align: center;
    color: #fff !important;
    background-color: dodgerblue;
}