.modalContainer {
    width: 80%;
    margin: auto;
    height: 28%;
    position: relative;
    overflow: hidden;
}
.modalContainer>img {
    width: 100%;
    height: 100%;
    transition: all .4s;
}
.modalContainer:hover>img {
    filter: brightness(70%);
}
.modalContainer:hover .exitButton{
    visibility: visible;
    color: #eeeeee;
}
.exitButton {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    visibility: hidden;
}
.exitButton>i {
    font-size: 2rem;
}