.modal__container {
  width: 80%;
  margin: auto;
  /* height: 27%; */
  /* height: 35%; */
  position: relative;
  overflow: hidden;
}
.modal__container > img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.modal__container:hover > img {
  filter: brightness(70%);
}

.modal__exitButton {
  position: absolute;
  top: 1rem;
  right: 4rem;
  font-size: 3rem;
  z-index: 2;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  visibility: visible;
  color: #eeeeee;
}
.modal__exitButton > i {
  font-size: 2rem;
}
.modal__exitButton--bottom {
  top: 103%;
  right: 2%;
}
/*For Popup*/

.modal__popupContainer {
  width: 40vw;
  min-width: 300px;
  background-color: #fff;
  margin: auto;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
}
.modal__banner {
  width: 56%;
  height: 100px;
  display: inline-block;
}
.modal__atIcon {
  width: 11%;
  margin: 2% 2%;
  height: 50px;
  display: inline-block;
}
.modal__logobanner {
  width: 29%;
  height: 100px;
  display: inline-block;
}
.modal__details {
  display: block;
  width: 100%;
  height: 70%;
  padding: 3rem 2rem;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.modal__bold {
  font-weight: 500;
  font-size: 1.7rem;
}
.modal__details p {
  margin: 2rem 0;
  font-family: inherit;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.modal__details i {
  font-size: 2rem;
  color: dodgerblue;
  margin-right: 1rem;
}
.modal__iconContainer {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  margin-right: 1rem;
}
.modal__icon {
  height: 100%;
  width: 100%;
}
.modal__applyLink {
  text-decoration: none;
  display: inline-block;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  font-size: 1.4rem;
  text-align: center;
  color: #fff !important;
  background-color: dodgerblue;
}

/*  For Video */

.modal__videoContainer {
  height: 20%;
  width: 70%;
  margin: auto;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
}
.modal__video {
  height: 100%;
  width: 100%;
}
