* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  /* min-height: 100%; */
  box-sizing: border-box;
  /* position: relative; */
}


* {
  box-sizing: inherit;
}
body {
  font-size: 1.2rem;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #222126;
  font-family: "Exo", sans-serif;
  -webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
}
a {
  -webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
}
.App {
  height: 100%;
  width: 100%;
}


.app__backSide {
  height: 8rem;
  box-sizing: border-box;
  background-color: lightskyblue;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.app__backSide__logoBox {
  width: 6rem;
  height:7rem;
  display: inline-block;
}
.app__backSide__logo {
  height: 100%;
  width: 100%;
}

::selection {
  /* background: #008000; */
  background-color: 	#5ebe9e; 
  color: #fff;
}

/*Media Queries*/

@media (max-width: 960px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 45%;
  }
}
