:global * {
  padding: 0;
  margin: 0;
}
:global html {
  font-size: 62.5%;
  /* min-height: 100%; */
  box-sizing: border-box;
  /* position: relative; */
}
:global * {
  box-sizing: inherit;
}
:global body {
  font-size: 1.2rem;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #222126;
  font-family: "Exo", sans-serif;
}
.App {
  height: 100%;
  width: 100%;
}


.backSide {
  height: 8rem;
  box-sizing: border-box;
  background-color: lightskyblue;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.backSide__logoBox {
  width: 6rem;
  height:7rem;
  display: inline-block;
}
.backSide__logo {
  height: 100%;
  width: 100%;
}

::selection {
  background: #008000;
  color: #fff;
}