.eventArch__container {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: 0.3s;
}
.eventArch__container:hover {
  background-color: #d3d3d3;
}
.eventArch__photo {
  width: 100%;
  height: 200px;
}
.eventArch__title {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: inherit;
  display: block;
  width: 100%;
  margin: 15px 0;
}
.eventArch__date {
  font-size: 2rem;
  font-weight: 500;
  color: #3f3f3f;
  font-family: inherit;
}
