.sideDrawer__toggleIcon {
  position: fixed;
  top: 3%;
  left: 2%;
  height: 6rem;
  width: 6rem;
  background-color: #666666;
  border-radius: 50%;
  z-index: 900;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.sideDrawer__toggleIcon > div {
  height: 1px;
  width: 50%;
  margin: 3px;
  background-color: #fff;
}
.sideDrawer__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.6);
  z-index: 990;
  width: 100vw;
  height: 110vh;
  transition: opacity 0.2s ease;
}
.sideDrawer__backdrop--hidden {
  visibility: hidden;
  opacity: 0;
}
.sideDrawer__backdrop--show {
  visibility: visible;
  opacity: 1;
}
.sideDrawer__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 110vh;
  background-color: #fff;
  z-index: 999;
  border-right: 2px solid #ffae4c;
  overflow-y: auto;
  transition: transform 0.2s ease;
  background-color: #ffae4c;
}
.sideDrawer--hidden {
  transform: translateX(-100%);
}
.sideDrawer--show {
  transform: translateX(0);
}

.sideDrawer__logoContainer {
  height: 20%;
  width: 100%;
  margin: auto;
  background-color: #fff;
}
.sideDrawer__logo {
  height: 100%;
  width: 100%;
}
.sideDrawer__navList {
  width: 100%;
  display: flex;
  flex-flow: column;
  list-style: none;
  justify-content: flex-start;
  color: #fff;
  height: 80%;
  overflow: auto;
}
.sideDrawer_navList__item {
  font-size: 2rem;
  text-align: center;
  padding: 3% 0;
}
.sideDrawer__navLinks {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.sideDrawer_navList__item--corona {
  background-color: red;
  color: #fff;
  animation-name: fade;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@media (min-width: 600px) {
  .sideDrawer__container {
    display: none;
  }
  .sideDrawer__toggleIcon {
    display: none;
  }
}
