.sideDrawer__toggleIcon {
  position: fixed;
  top: 3%;
  left: 2%;
  height: 6rem;
  width: 6rem;
  background-color: #222;
  border-radius: 50%;
  z-index: 900;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.sideDrawer__toggleIcon > div {
  height: 2px;
  width: 50%;
  margin: 3px;
  background-color: #fff;
}
.sideDrawer__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.6);
  z-index: 990;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
}
.sideDrawer__backdrop--hidden {
  visibility: hidden;
  opacity: 0;
}
.sideDrawer__backdrop--show {
  visibility: visible;
  opacity: 1;
}
.sideDrawer__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  border-right: 2px solid #ffae4c;
  overflow-y: auto;
  transition: transform 0.2s ease;
}
.sideDrawer--hidden {
  transform: translateX(-100%);
}
.sideDrawer--show {
  transform: translateX(0);
}
.sideDrawer__container::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.sideDrawer__container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sideDrawer__container::-webkit-scrollbar-thumb {
  background: #7f7f7f;
}

/* Handle on hover */
.sideDrawer__container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sideDrawer__logoContainer {
  height: 15%;
  width: 100%;
  margin: auto;
}
.sideDrawer__logo {
  height: 100%;
  width: 100%;
}
.sideDrawer__navList {
  width: 100%;
  display: flex;
  flex-flow: column;
  list-style: none;
  margin-top: 20%;
  height: 70%;
  justify-content: flex-start;
}
.sideDrawer_navList__item {
  width: 100%;
  height: 7%;
  background-color: #ffae4c;
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .sideDrawer__container {
    display: none;
  }
  .sideDrawer__toggleIcon {
    display: none;
  }
}
