
.nav {
  position: absolute;
  left: 50%;
  top: 0;
  width: 80%;
  transform: translateX(-50%);
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}
.nav__contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.9rem;
  color: #222126;
  
}
.nav__contact > * {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.nav__contact__social {
  flex-basis: 6%;
  justify-content: flex-end;
  color: #222126;
}
.nav__contact__social a:visited {
    color: #222126;  
}
a:link,
a:active,
a:visited {
  color:#e2e2e2;
}

.navigation {
  display: flex;
  width: 100%;
  background-color: #ff9933;
  justify-content: space-between;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  border-radius: 5px;
  height: 7rem;
}
.navigation__item {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__item > a {
    text-decoration: none;
    position: absolute;
    color:#fff;
    font-size: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.navigation__item:hover >a {
  color: #FF8C00;
}
.navigation__item:not(:first-child)::before {
  content: "";
  position: absolute;
  /* background-color: #008000; */
  background-color: #fff;
  top: 0;
  z-index: 1;
  left: 0;
  height: 100%;
  color: #fff;
  width: 0;
  transition: all 0.4s;
}

.navigation__item:hover::before {
  width: 100%;
}
.logo {
  width: 100%;
  height: 100%;
}
.logoBox {
  background-color: #fff;
}
.nav__contact i {
  margin-right: 1rem;
  font-size: 1.8rem !important;
}

.navigation__item:nth-child(2):hover ul {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.navigation__item:nth-child(6):hover ul {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

