
.founder {
    width: 80%;
    margin: 5rem auto;
    text-align: left;
    padding: 2rem;
    transform: skew(-10deg);
    background-color: #eee;
    display: flex;
}
.founder>* {
    transform: skew(+10deg);
}
.figure {
    height: 20rem;
    width: 20rem;
    display: inline-block;
    position: relative;
    flex:1;
    border-radius: 50%;
    overflow: hidden;
}
.figure:hover .founderPhoto {
    transform: scale(1);
    filter: blur(1px) brightness(50%);
}
.founderPhoto {
    height: 100%;
    width: 100%;
    transition: all .3s;
    transform: scale(1.02);
}
.iconContainer {
    position: absolute;
    top: 43%;
    text-decoration: none;
    left: 46%;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all .4s;
    border: 1px solid dodgerblue;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align: center;
}
.iconContainer i {
    color: dodgerblue;
    font-size: 2rem;
    margin-top: 4px;
}
.figure:hover .iconContainer {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    /* z-index: 99; */
}
.foundersInfo {
    display: inline-block;
    font-family: inherit;
    font-size: 1.4rem;
    padding-top: 2rem;
    color: #222222;
    padding-left: 5rem;
    flex:3;
}
.designation {
    font-family: inherit;
    margin-bottom: 2rem;
}
.readMoreContainer {
    margin-top: 2rem;
}

.readMoreButton {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;
}
.readMoreButton > a {
  font-family: Exo;
  padding: 3px;
  font-size: 1.5rem;
  color: #ba265d !important;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
.readMoreButton:hover {
  transform: scale(1.1);
}
.readMoreButton:hover .arrow {
  transform: translateX(10px);
}