.importantLinks__container {
  height: 100%;
  width: 100%;
  padding-left: 7rem;
}
.importantLinks__heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: inherit;
}
.importantLinks__linksList {
  margin-top: 3rem;
  list-style: none;
}
.importantLinks__linksList a {
  color: dodgerblue;
  /* color: #333333; */
  font-size: 1.4rem;
}
.importantLinks__linksList a:hover {
  color: #333333;
}
.importantLinks__linksList > li {
  margin: 1rem 0;
}
.importantLinks__linksList  i {
  font-size: 1.3rem;
  color: #bbbbbb;
  margin-right: 0.8rem;
}
.importantLinks__HR {
  width: 10%;
  height: 1px;
  background-color: #777777;
}
