.Maintext {
  width: 100%;
  text-align: center;
  padding: 16rem 0 10rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}
.Maintext__horizontalRule {
  width: 35%;
  height: 3px;
  background-color: #008000;
  margin-left: 35%;
  transform: translateX(-50%);
}
.Maintext__content {
  width: 55%;
  padding: 2rem;
  margin: 4rem auto;
  text-align: center;
}
.Maintext__headingPrimary {
  font-size: 4rem;
  display: inline-block;
  font-weight: bold;
  font-family: "Exo", sans-serif;
}
.Maintext__headingPrimarySpan {
  color: #ff9933;
}
.Maintext__main {
  color: dodgerblue;
  font-family: "Lato", sans-serif;
  font-size: 1.47rem;
  letter-spacing: 0.4px;
}
.Maintext__main strong {
  font-weight: 600;
}
.Maintext__content p {
  /* color: #666666; */
  /* color:  #000080; */
  color: dodgerblue;
  font-family: "Lato", sans-serif;
  font-size: 1.47rem;
  margin-top: 2rem;
  letter-spacing: 0.2px;
  font-weight: normal;
}
.Maintext__Memberform h3 {
  font-weight: 300;
}
.Maintext__Memberform button {
  margin: 3rem;
  padding: 3rem 2rem;
  border: none;
  background-color: steelblue;

  outline: none;
  font-family: inherit;
  font-size: 1.5rem;
  color: white;
  border-radius: 20px;
  transition: transform 0.2s, background-color 0.4s;
  box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}
.Maintext__Memberform button:hover {
  background-color: deepskyblue;
}
.Maintext__Memberform button:active {
  transform: translateY(4px);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .Maintext__content {
    width: auto;
  }
}
