.carousel__imageBox {
	position: relative;
}
.carousel__imageBox > img {
	height: 94vh;
}
.onImg {
	height: 20rem;
	width: 20rem;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
}
