.carousel__imageBox {
	position: relative;
}
.carousel__imageBox > img {
	height: 90vh;
}
.onImg {
	height: 20rem;
	width: 20rem;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
}

/*Media Queries*/

@media (max-width: 1024px) {
	.carousel__imageBox > img {
		height: 80vh;
	}
}