.container {
  padding: 3rem;
  display: flex;
  border-bottom: 1px solid #bbbbbb;
  width: 63%;
  text-align: left;
  margin-left: 5rem;
}
.imgContainer {
  flex: 1;
}
.img {
  width: 100%;
  height: 50%;
}
.textContainer {
  flex: 4;
  padding-left: 2rem;
  text-align: left;
  color: #666666;
  line-height: 26px;
}
.name {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.designation {
  font-size: 1.3rem;
  font-size: 200;
}
.description {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  margin-top: 1rem;
}
