.member__container {
  margin: 5rem 0;
  padding: 1rem 0;
  display: flex;
  border-bottom: 1px solid #bbbbbb;
  width: 70%;
  text-align: left;
  margin-left: 5%;
}
.member__container:last-child {
  border-bottom: none;
}
.member__imgContainer {
  flex: 1;
}
.member__img {
  width: 100%;
  min-width: 100px;
  height: 75%;
}
.member__textContainer {
  flex: 4;
  padding-left: 4rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  color: #666666;
}
.member__name {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.member__designation {
  font-size: 1.8rem;
  font-weight: 200;
}
.member__description {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 2.7rem;
}
.member__contactContainer {
  text-align: center;
}
.member__iconContainer {
  text-decoration: none;
  display: inline-block;
  height: 4rem;
  width: 4rem;
}
.member__icon {
  height: 100%;
  width: 100%;
}

/*Media Queries*/

@media (max-width: 600px) {
  .member__img {
    max-height: 150px;
    max-width: 150px;
  }
  .member__container {
    width: 90%;
    flex-flow: column;
    text-align: center;
    background-color: #d3d3d3;
    padding: 4rem 1rem;
  }
  .member__textContainer {
    padding: 2% 0;
  }
}
