.container {
  width: 100%;
  background-color: #fff;
  font-family: inherit;
  padding: 8rem;
}
.content > p {
  margin: 2rem auto;
  font-size: 1.3rem;
  color: #333333;
  letter-spacing: 0.5px;
}
.content > ul {
  color: #333333;
  margin-top: 2rem;
  list-style: none;
}
.resolvesList>li {
    margin: 0.5rem;
}
.resolvesList>li>i {
  font-size: 1.3rem;
  color: #bbbbbb;
  margin-right: 0.6rem;
}
