.inputfield__container {
    display: inline-block;
}
.inputfield {
    width: 40rem;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: 1px solid #e6e6e6;
    border-radius: 60px;
    outline: none;
    color: #666666;
}
.inputfield:focus {
    /* background-color: #d2d2d2; */
    background-color: #e6e6e6;

}