.contact__main {
  color: #222;
  height: 100%;
  width: 85%;
  margin: auto;
}

.contact__main__heading--primary {
  font-size: 3.5rem;
}
.contact__main__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90%;
  margin-top: 2rem;
  font-family: "Lato", sans-serif;
}
.contact__emailForm {
  flex: 1;
  height: 100%;
  padding: 0 5rem;
}
.contact__heading--secondary {
  flex: 0 0 100%;
  height: 10%;
}
.contact__form__inputContainer {
  display: flex;
  height: 65%;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}

.contact__input {
  flex: 0 0 47%;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: #d3d3d3;
  transition: background-color 0.3s;
}
.contact__input:focus {
  background-color: #3f3f3f;
  color: #fff;
}
.contact__textArea {
  outline: none;
  border: none;
  background-color: #d3d3d3;
  transition: background-color 0.3s;
  padding: 1rem;
  flex: 0 0 100%;
}
.contact__textArea:focus {
  background-color: #222;
  color: #fff;
}

.contact__form__submitBtn {
  padding: 1rem 2rem;
  margin-top: 3rem;
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: #222;
  color: #fff;
  border-radius: 10px;
}
.contact__main__altContainer {
  flex: 1;
  border-left: 2px solid #bbb;
  height: 100%;
  padding: 0 5rem;
}

.contact__mapContainer {
  height: 65%;
  width: 90%;
  margin: auto;
  border: 2px solid #7f7f77;
}
.contact__map {
  height: 100%;
  width: 100%;
}

.contact__otherMethodsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #eee;
  margin-top: 3rem;
}
.contact__otherMethod {
  height: 100%;
  flex: 0 0 46%;
  /* padding: 1rem; */
  /* height: 3rem; */
  display: flex;
  justify-content: flex-start;
  background-color: #444;
}
.contact__otherMethodSpan {
  display: inline-block;
  height: 100%;
  padding: 7px;
  font-size: 1.7rem;
  margin-right: 10px;
  background-color: #222;
  color: #d3d3d3;
}
.contact__otherMethodText {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
