.about__mainHR {
  width: 35%;
  height: 2px;
  background-color: #008000;
  margin-left: 50%;
  transform: translateX(-50%);
}
.about__subHR {
  width: 10%;
  height: 1px;
  background-color: #777777;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.about__headingPrimary {
  font-size: 4rem;
  display: inline-block;
  font-weight: bold;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  color: #ff9933;

}
.about__subHeading {
  color: #777777;
  font-weight: 400;
  margin-bottom: 1rem;
}
.about__textBox {
  width: 60%;
  text-align: center;
  margin: 5rem auto;
}
.about__innerHeading {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 2.5rem;
  color: #ff9933;
}
.about__textBox > p {
  margin: 2rem auto;
  line-height: 2.7rem;
  font-size: 1.5rem;
  color: #333333;
  letter-spacing: 0.5px;
}

/*Media Queries*/

@media (max-width: 600px) {
  .about__textBox {
    width: 100%;
    padding: 0 5%;
  }
}
