.internship__headingPrimary {
  font-size: 4rem;
  display: inline-block;
  font-weight: bold;
  font-family: "Exo", sans-serif;
  margin-bottom: 2rem;
}
.headinPrimary--saffron {
  color: #ff9933;
}
.internship__horizontalRule--mid {
  width: 20rem;
  margin: auto;
}

.internship__form {
  margin: 4rem auto;
  width: 75%;
}
.internship__select__container {
  width: 100%;
  text-align: left;
}
.internship__select {
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: #e6e6e6;
  font-family: inherit;
  cursor: pointer;
}
.internship__select--big {
  padding: 1rem 2rem;
  width: 100%;
  height: 5rem;
  margin-bottom: 2rem;
}
.internship__select--small {
  width: 40rem;
  padding: 0.8rem 2rem;
  margin-bottom: 3rem;
}
.internship__fields__container {
  display: flex;
  padding: 3rem 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  opacity: 1;
  transition: height 500ms 0ms, opacity 500ms 400ms;
}
.internship__hidden {
  height: 0;
  opacity: 0;
}
.internship__typeText {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  display: inline-block;
}
.internship__address {
  padding: 1.5rem;
  width: 89%;
  height: 10rem;
  font-family: inherit;
  outline: none;
  border-radius: 20px;
  background-color: #e6e6e6;
}
.internship__button__container {
  margin-top: 2rem;
  text-align: center;
}
.internship__button__container i {
  margin-left: 5px;
  color: dodgerblue;
}
.internship__submitButton {
  padding: 1.5rem 3rem;
  border: 1.5px solid dodgerblue;
  border-radius: 30px;
  font-size: 1.4rem;
  color: #222222;
  text-transform: uppercase;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}
.internship__submitButton:hover {
  background-color: dodgerblue;
  color: #fff;
}
.internship__submitButton:active {
  transform: translateY(3px);
}
.internship__submitButton:hover i {
  color: #fff;
}

/*Media Queries*/

@media (max-width: 800px) {
  .internship__form {
    width: 85%;
  }
}
