.frontPageGallery__headingPrimary {
  font-size: 4rem;
  display: inline-block;
  font-weight: bold;
  font-family: "Exo", sans-serif;
  text-align: center;
}
.frontPageGallery__headingPrimary span {
  color: #ff9933;
}
.frontPageGallery__container {
  padding: 5rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: [grid-start] repeat(3, [col-start] 1fr [col-end]) [grid-end];
  grid-auto-rows: 1fr;
  grid-gap: 5rem;
}

.frontPageGallery__videoContainer {
  position: relative;
  grid-row: 1/-1;
  grid-column: col-start 3/ grid-end;
}
.frontPageGallery__video {
  height: 100%;
  width: 100%;
}
.frontPageGallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.frontPageGallery__galleryLink {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;
}
.frontPageGallery__galleryLink > a {
  font-family: inherit;
  padding: 3px;
  font-size: 1.8rem;
  color: #ba265d !important;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
.frontPageGallery__galleryLink:hover {
  transform: scale(1.1);
}
.frontPageGallery__galleryLink:hover .arrow {
  transform: translateX(10px);
}

@media (max-width: 800px) {
  .frontPageGallery__container {
    grid-template-columns: [grid-start] repeat(2, [col-start] 1fr [col-end]) [grid-end];
  }
  .frontPageGallery__videoContainer {
    grid-row: 3/4;
    grid-column: grid-start/ grid-end;
  }
}

@media (max-width: 600px) {
  .frontPageGallery__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .frontPageGallery__container>* {
    grid-column: 1/-1;
  }
  .frontPageGallery__videoContainer {
    grid-row: 5/6;
  }
}