
.donate__headingContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}
.donate__heading {
  font-size: 40px;
  display: inline-block;
  font-weight: bold;
  font-family: "Exo", sans-serif;
  margin-bottom: 2rem;
}
.donate__heading__span {
  color: #ff9933;
}
.donate__horizontal {
    height: 3px;
    background-color: green;
    width: 50%;
    margin: auto;
}

.donate__logoBox {
  width: 6rem;
  height:7rem;
  display: inline-block;
  margin-left: 3rem;
}
.donate__logo {
  height: 100%;
  width: 100%;
}
.donate__form {
  width: 75%;
  display: flex;
  margin: 5rem auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
.donate__address {
  padding: 1rem;
  width: 40rem;
  height: 10rem;
  font-family: inherit;
  outline: none;
  margin-bottom: 3rem;
}
.donate__button__container {
  width: 40rem;
  margin-top: 6rem;
}
.donate__button {
  outline: none;
  background: none;
  background-color: dodgerblue;
  color: #fff;
  padding: 1.5rem 3rem;
  border: none;
  font-size: 1.6rem;
  border-radius: 60px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .1s;
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.5);
}
.donate__button:active {
  transform: translateY(3px);
  box-shadow: 0 0.1rem 0.7rem rgba(0,0,0,0.5);
}
