
.donate__headingContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}
.donate__heading {
  font-size: 4rem;
  display: inline-block;
  font-weight: bold;
  font-family: "Exo", sans-serif;
  margin-bottom: 2rem;
}
.donate__heading__span {
  color: #ff9933;
}
.donate__horizontal {
    height: 3px;
    background-color: green;
    width: 50%;
    margin: auto;
}

.donate__logoBox {
  width: 6rem;
  height:7rem;
  display: inline-block;
  margin-left: 3rem;
}
.donate__logo {
  height: 100%;
  width: 100%;
}
.donate__form {
  width: 75%;
  display: flex;
  margin: 5rem auto;
  padding: 4rem 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.donate__address__container {
  width: 40rem;
}
.donate__address {
  padding: 1.5rem;
  width: 100%;
  height: 10rem;
  font-family: inherit;
  outline: none;
  margin-bottom: 3rem;
  border-radius: 20px;
  background-color: #e6e6e6;
}
.donate__button__container {
  width: 40rem;
  margin-top: 2rem;
}
.donate__button {
  outline: none;
  background: none;
  background-color: dodgerblue;
  color: #fff;
  padding: 1.5rem 3rem;
  border: none;
  font-size: 1.6rem;
  border-radius: 60px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .1s;
  box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.5);
}
.donate__button:active {
  transform: translateY(3px);
  box-shadow: 0 0.1rem 0.7rem rgba(0,0,0,0.5);
}

.donate__conditionsContainer {
  font-family: inherit;
  margin: 3rem auto;
  width: 75%;
  text-align: left;
  line-height: 20px;
  
}
.donate__conditionsList {
  list-style: disc;
  font-size: 1.2rem;
}
.donate__conditionsHeading {
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.donation__details__container {
  width: 75%;
  margin: 3rem auto;
  text-align: left;
  font-size: 1.8rem;
}
.donation__details__container p {
  margin: 1rem;
}

/*Media Queries*/

@media (max-width: 800px) {
  .donate__form {
    width: 85%;
  }
}