.frontTextAndLogoBox {
  position: relative;
}
.saffron {
  position: absolute;
  top:0;
  left:0;
  height: 50rem;
  width: 50rem;
  background-color: #ff9933;
  clip-path: polygon(0 0, 100% 0,0 100%);
}
.green {
  bottom: 0;
  right:0;
  position: absolute;
  height: 50rem;
  width: 60rem;
  background-color: #008000;
  clip-path: polygon(100% 100%, 100% 0,0 100%);
}
.iconRow {
  background-color: #fff;
  width: 100%;
  height: 30rem;
  padding-top: 10rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.iconRow__item {
  display:flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 8rem 2rem 8rem;
  border: 1px solid #d5d5d5;
}
.iconRow__item__heading {
  font-size: 2rem;
  margin: 1rem;
}
.iconRow__item__para {
  margin: 1rem 0;
  font-size: 1.4rem;
}
.iconRow__item__link {
  color: #222222 !important;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 600;
} 
.iconRow__item__iconContainer {
  display: inline-block;
  height: 6rem;
  width: 6rem;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  top:-20px;
  left: 50%;
  border-top: 1px solid #bbbbbb;
  padding-top: 3px;
  /* background-color: #8DEEEE; */
  background-color: #fff;
  transform: translate(-50%,0);
}
.iconRow__item__icon {
  width: 80%;
  height: 80%;
}
.active {
    color: #008000 !important;
}