.frontTextAndLogoBox {
  position: relative;
}
.saffron {
  position: absolute;
  top:0;
  left:0;
  height: 50rem;
  width: 50rem;
  background-color: #ff9933;
  clip-path: polygon(0 0, 100% 0,0 100%);
}
.green {
  bottom: 0;
  right:0;
  position: absolute;
  height: 50rem;
  width: 60rem;
  background-color: #008000;
  clip-path: polygon(100% 100%, 100% 0,0 100%);
}
.active {
    color: #008000 !important;
}